body {
  background-color: grey;
}

.sortable-handler {
  touch-action: none;
}

/*Media queries*/
/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px) {
  #joystick {
    position: fixed;
    top: 50%;
    right: 60%;
    transform: translateY(-50%);
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
  }

  #joystickWrapper {
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
    margin: auto;
  }

  .joystick {
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  #attackButton {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
  }

  #attackButtonWrapper {
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
    margin: auto;
  }

  .attackButton {
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
  }
}

/*###Tablet(medium)###*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #joystick {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
  }

  #joystickWrapper {
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
    margin: auto;
  }

  .joystick {
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  #attackButton {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
  }

  #attackButtonWrapper {
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
    margin: auto;
  }

  .attackButton {
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 250px;
    max-width: 250px;
    min-height: 250px;
    min-width: 250px;
  }
}

/*### Smartphones (portrait)(small)### */
@media screen and (min-width: 0px) and (max-width: 767px) and (orientation: portrait) {
  #joystick {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);

    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
  }

  #joystickWrapper {
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
    margin: auto;
  }

  .joystick {
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  #attackButton {
    position: fixed;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
  }

  #attackButtonWrapper {
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
    margin: auto;
  }

  .attackButton {
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
  }
}

/*### Smartphones (landscape)(small)### */
@media screen and (min-width: 0px) and (max-width: 767px) and (orientation: landscape) {
  #joystick {
    position: fixed;
    top: 50%;
    right: 60%;
    transform: translateY(-50%);

    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
  }

  #joystickWrapper {
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
    margin: auto;
  }

  .joystick {
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
    margin-left: auto;
    margin-right: auto;
  }

  #attackButton {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translateY(-50%);
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
  }

  #attackButtonWrapper {
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
    margin: auto;
  }

  .attackButton {
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
    user-select: none;
    max-height: 170px;
    max-width: 170px;
    min-height: 170px;
    min-width: 170px;
  }
}
